<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="TodoContext" 
        connectionString="Server=5c906afa-2623-4ebc-9f71-a1d20107fc9d.sqlserver.sequelizer.com;Database=db5c906afa26234ebc9f71a1d20107fc9d;User ID=dljbuiqibczwhkga;Password=Nmh2BqZUEgsqv4mvygDSUwy7oG3W2Fk6Vai7YH3YHJFRcx8h3HBi3EoqUjM4wc27;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>